{%- extends "base.njk" -%}
{%- block body -%}
# Задача в общих чертах
По входным материалам и текущему состоянию файлов обнови или создай реализацию набора файлов React‑компонента.

Требования:
{% include "partials/common-rules.njk" %}
{%- endblock -%}
