{%- extends "base.njk" -%}
{%- block body -%}
# Задача в общих чертах
По входной PNG‑картинке интерфейсного компонента создай первичную реализацию набора файлов React‑компонента.

Требования:
{% include "partials/common-rules.njk" %}
{%- endblock -%}
